extends layout 

block content
  h2.text-center.
    Welcome to Nature Disrupted
    <small class="text-muted">a site by Kevin Bagnato</small>
  p.text-center.
    You are on a Node.js, Express.js-generated site using Pug.js and Bootstrap for streamlined templating and UI.<br>
    This site utilizes a RESTful API, where the client uses jQuery to make AJAX calls and updates the DOM appropriately.<br>
    It's hosted by Heroku, and uses GoDaddy to maintain a clean URL.<br>
    <br>
    See the <a href='https://github.com/kbagnato/PersonalHikingPage' target='_blank'>repo</a> here.