extends layout 

block content 
    p.
        This website was created and is maintaned by Kevin Bagnato.
        <br>Currently (2/5/2021) it runs locally on an Express-generated Node.js server.
        <br>The pages are rendered with <a href='https://pugjs.org/api/getting-started.html'>pug</a>.