extends layout 

block content 
    p.
        This website was created and is maintaned by <a href='https://www.linkedin.com/in/kevin-bagnato/' target='_blank'>Kevin Bagnato</a>.
        <br>Currently (2/7/2021) it is an <a href='https://expressjs.com/' target='_blank'>Express</a>-generated <a href='https://nodejs.org/' target='_blank'>Node.js</a> server hosted by <a href='https://heroku.com' target='_blank'>Heroku</a>.
        <br>The pages are rendered with <a href='https://pugjs.org/api/getting-started.html' target='_blank'>Pug</a>.
        <br>Styling is the classic <a href='https://getbootstrap.com/' target='_blank'>Bootstrap</a>.