extends layout 

block content 
    p.
        This website was created and is maintaned by <a href='https://www.linkedin.com/in/kevin-bagnato/' target='_blank'>Kevin Bagnato</a>.<br>
        Hosting it on <a href='https://github.com/kbagnato/PersonalHikingPage' target='_blank'>Github</a> allows me to work remotely and ensures version control.<br>
        Deploying it with Heroku is as easy as pushing to a deployment branch; this is separate from my development environment.<br>
        The Node.js server was Express-generated and has a Postgres database for SQL queries. Styling is the classic Bootstrap.
