extends layout 

block content 
    p.
        This website was created and is maintaned by <a href='https://www.linkedin.com/in/kevin-bagnato/' target='_blank'>Kevin Bagnato</a>.<br>
        This Express-generated Node.js server is hosted on Heroku.<br>
        See the <a href='https://github.com/kbagnato/PersonalHikingPage' target='_blank'>repo</a> here.