extends layout 

block content
    p All photos are my own.
    br

    .row 
        .col-md-4 
            .thumbnail 
                a(href='/images/astro/LakeTekapo.jpg' style='width:100%')
                .caption The Church of the Good Shephard, Lake Tekapo, New Zealand
        .col-md-4 
            .thumbnail 
                a(href='/images/astro/SouthernLights.jpg' style='width:100%')
                .caption The Southern Lights