extends layout 

block content
    p All photos are my own.
    br

    .row 
        .col-md-4 
            .thumbnail 
                img.img-fluid(src="images/astro/LakeTekapo.jpg" alt="Homemade tarp" width=800)
                .caption The Church of the Good Shephard, Lake Tekapo, New Zealand
        .col-md-4 
            .thumbnail 
                img.img-fluid(src="images/astro/SouthernLights.jpg" alt="Homemade tarp" width=800)
                .caption The Southern Lights shot from Kina Beach, New Zealand