extends layout
block content

  //- make list of files available to js
  //- - var hikes[] = ${tracks}

  //- get total peaks hiked
  -
    var peaksHiked = 0
    for (const peak of peakList) {
        if (peak.hiked)
            peaksHiked += 1
    }
  
  h1.text-center Catskills High Peaks (3500 Club)

  p.text-center.
    There are 35 peaks over 3500' in New York's Catskill Park, and one of my goals is to summit all of them. <br>
    Doing so will qualify me to join the <a href="http://catskill-3500-club.org/" target="_blank">Catskills 3500 Club</a>. 

  h3.text-center
    small.text-muted.text-center #{peaksHiked} / 35 high peaks sumitted so far
  
  .flex-container
    .cats-flex-child
      #map.map
      p Above is an incomplete map of the trails I've hiked in the Catskills Park. 


    .cats-flex-child
      table.table.table-striped.table-sm.table-hover#highPeaksTable
        thead
          tr
            th Mountain 
            th Elevation (feet)
            th Hiked
        tbody
          each peak in peakList 
            tr
              td #{peak.name}
              td #{peak.elevation}
              - if (peak.hiked == true)
                td.text-success Yeah! 
              - else
                td.text-danger Not yet
      
  script(src='javascripts/cats35.js')