extends layout
block content

    script(src='javascripts/cats35.js')

    -
        // tally peaks hiked
        var numHiked = 0
        for (const peak of peakList) {
           if (peak.hiked == true )
                numHiked += 1
        }
    
    h2 #{numHiked} / 35 high peaks sumitted so far.
    p Below is an incomplete map of the trails I've hiked in the Catskills Park. 
    .center Center: 
    .zoom Zoom:
    #map.map

    p Here's a list of the Catskills 3500 high peaks that I've hiked so far. I'm working on hiking all of them to join the <a href="http://catskill-3500-club.org/" target="_blank">Catskills 3500 Club</a>. 

    table.table.table-striped.table-hover
        tr
            th Mountain 
            th Elevation (feet)
            th Hiked
        each peak in peakList 
            tr
                td #{peak.name}
                td #{peak.elevation}
                - if (peak.hiked == true)
                    td.text-success Yeah! 
                - else
                    td.text-danger Not yet
    