extends layout 
block content 

  .narrow-body
    h1.text-center #{gear[id].name}
    
    img.card-img-top(src='/images/gear/' + gear[id].pictures[0] + '.jpg' alt="Image coming soon")
    
  

      
    script(src='..//javascripts/bagadonuts.js')