extends layout 
block content 

    p <b>Bagadonuts Gear</b> is my line of homemade gear. I started making gear when I had to cancel my Appalachian Trail in early 2020. Since then it's become a challening and very rewarding hobby. Being able to survive in the wilderness thanks to my own clothes and gear instills an immense amount of confidence.

    p So far I have made:
    ul
        li 2 backpacks (RayWay, BagBuff) 
        li Shorts, pants, 2 jackets (RayWay, Green Pepper) 
        li Mittens
        li Flat tarp
        li Bug bivy
        li Mesh tent with bathtub floor 
        li Stuff sacks
        li Bottle and pot insulators 
        li Bicycle frame bag

    //- list each item in db
    each item in gear
        h1 #{item.name}

        //- render pictures if included
        if item.pictures
            each pic in item.pictures
                .row 
                    .col-md-4 
                        .thumbnail 
                            img.img.img-fluid(src=`images/gear/${pic}.jpg` width='100%')
                            br
                            br
        
        //- render material list
        p Materials: 
        ul
            each mat in item.materials
                li #{mat}