extends layout

block content
  link(rel='stylesheet', href='/stylesheets/slideshow.css')

  //-
    p This is a place built by Kevin to:
    ul 
      li Practice web skills from server development to app deployment
      li Share plans for upcoming trips
      li Show the gear I've made


    img.img-fluid(src="images/Smokies.jpg" alt="Great Smokey Mountains NP" width=800)
    img.img-fluid(src="images/tarp.jpg" alt="Homemade tarp" width=800)
  
  //- TODO implement dynamic handling
  //- - var banners = [
  //-   {'filename':'Aoraki.jpg', 'caption':'Aoraki NP, New Zealand'}
  //- ]
  div.slideshow-container
    div.slide
      img(src="/images/Aoraki.jpg", style='width:100%')
      div.banner-caption Aoraki NP, New Zealand
    
    div.slide
      img(src="/images/Smokies.jpg", style='width:100%')
      div.banner-caption Great Smoky Mountains NP, Tennessee
    
    div.slide
      img(src="/images/Windham.jpg", style='width:100%')
      div.banner-caption Catskills Park, New York

    a.prev(onclick='plusSlides(-1)') &#10094;
    a.next(onclick='plusSlides(1)') &#10095;
  div(style='text-align:center')
    span.dot(onclick='currentSlide(1)')
    span.dot(onclick='currentSlide(2)')
    span.dot(onclick='currentSlide(3)')

    //- each banner in banners
    //-   div(classname='slide fade')
    //-   img(src=banner.filename, alt=caption, style='width:100%')
    //-   div(classname='text')= banner.caption


  br
  br

  h2 Some notable multiday hikes
  table.table.table-striped.table-hover
    thead
      tr 
        th Location
        th Miles
        th Nights

    //- this will become dynamic based off postgres data.
      maybe attach custom ids, add click for map.flyTo() 
    tbdoy
      tr 
        td Wind River Range - Indian Pass, Titcomb Basin
        td 48
        td 3
      tr 
        td North Cascades NP
        td 35
        td 2
      tr 
        td Great Smoky Mountains NP - Charlie's Bunion
        td 31
        td 2
      tr 
        td Shenandoah NP - Moormans River and Wildcat Hollow
        td 22
        td 2
      tr 
        td Catskills - Giant Ledge, Wittenberg, Cornell, Slide
        td 16
        td 2
      tr 
        td White Mountains NF - Liberty and Flume 
        td 12
        td 1


  #multiMap
  script(src='javascripts/slideshow.js')