extends layout

block content
  script(src='javascripts/map.js')
  //- h1= title
  //- p Welcome to #{title}

  p This is a place built by Kevin to:
  ul 
    li Practice web development
    li Plan notes for new trips 
    li Blog about past hikes 
    li Show the gear I've made


  img(src="images/Smokies.jpg" alt="Great Smokey Mountains NP" width=800)
  img(src="images/tarp.jpg" alt="Homemade tarp" width=800)

  #map(style='width:400px;height:300px;background-color:lightblue')