extends layout

block content
  script(src='javascripts/map.js')

  p This is a place built by Kevin to:
  ul 
    li Practice web development
    li Plan notes for new trips 
    li Blog about past hikes 
    li Show the gear I've made


  img.img-fluid(src="images/Smokies.jpg" alt="Great Smokey Mountains NP" width=800)
  img.img-fluid(src="images/tarp.jpg" alt="Homemade tarp" width=800)

  #map