extends layout

block content

    h1 Weekend in the Great Smoky Mountains NP, April 2021
    h3 April 22-25

    p.
        A 16.3 miles / 4600' lollipop loop from Cades Cove featuring Rocky Top and Thunderhead Mtn.
        <br>We'll spend the first night in a shelter (on a Thursday so hopefully without many others), 
        the second night at our own primitive site along a creek.
        <br> The last day and night we'll be at the <a href='https://www.nps.gov/grsm/index.htm'>Cades Cove Campground</a>.
    
    //- h2 Before the hike 
    //- p we need to get firewood

    h3 TODO
    ul 
        li get live on github
        li add main map to home page
        li add search to main map
        br
        li add labels to marker
        li color coordinate markers (maybe different files) 
        li Increase tllt on init camera position to feature more mountains 
        li Automate spin around trail 
        li Allow option for user to override autopilot
        br
        li Cleanup lighterpack messy styling. Maybe override with CSS from their site

    h2 Maps
    a(href='https://caltopo.com/m/DA6F' target='_blank') View on Caltopo
    
    
    #map.map
    br
    //- #comparison-container.map
    //-     #satMap.map
    //-     #topoMap.map

    h2 Route
    .day Day 1
    p.
        5.0 mi - 2,500’ up
        <br>Cades Cove campground up to the ridgeline, camping at Russell Field shelter.
        <br>Water source 0.1 mi before the shelter.

    .day Day 2
    p.
        8.6 mi - 2,100’ up / 3,200’ down
        <br>Along the AT to Rocky Top and Thunderhead Mtn, double back until we drop down to 
        the Anthony Creek campsite. Water and privy at a shelter 0.3 miles off trail along the way. Water at camp.

    .day Day 3
    p.
        2.7 mi - 1,300’ down
        <br>Hike down to Cades Cove campground, chillax

    .day Day 4
    p.
        0.0 mi
        Have a solid breakfast. Drive home.

    br

    h2 Trail Food
    .day Breakfast
    ul
        li Museli
        li Fig bars
    
    .day Lunch
    ul
        li Trail mix (peanuts, raisins, m&ms, almonds, cashews)
        li Cheddar cheese
        li Crackers
        li Power bars
        li Dark chocolate

    .day Dinners
    ul
        li Chili
        li Rice and beans
        li Ramen and tuna

    h2 Frontcountry Cooking
    .day Cast iron cooking over a campfire! 
    ul 
        li Eggs, sausage, bacon
        li Steak and potatoes
        li <a href='https://www.freshoffthegrid.com/campfire-nachos/#wprm-recipe-container-4820'>Nachos</a>

    br
    h2 Gear list
    //- lighterpack with custom id
    script(src="https://lighterpack.com/e/jul15j")
    #jul15j
   
   
    script(src='javascripts/smokiesMap.js')