body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #88e7f7;
}

a {
  color: #00B7FF;
}

.map {
  min-width: 400px;
	min-height: 800px;
	height: 70%;
	width: 100%;
}

.day {
  font-style: italic;
}

.carousel img {
	object-fit: contain;
	width: 100%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cats-flex-child {
  flex: flex-grow;
  flex-grow: 1;
}

.narrow-body {
  max-width: 1300px;
  margin: auto;
}

.gear-card {
  width: 18rem;
  margin-top: 15px;
  margin-bottom: 15px;
}

.gear-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}