body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #88e7f7;
}

a {
  color: #00B7FF;
}


#map {
  min-width: 400px;
	min-height: 600px;
	height: 70%;
	width: 100%;
}

.day {
  font-style: italic;
}